@tailwind base;
@tailwind components;
@tailwind utilities;
body{
    background-color: #000;
    color: white;
    overflow-x: hidden;
}
*{
    box-sizing: border-box;
}

@layer components {
    .perspective{
        perspective: 2200px;
    }
}