@tailwind base;
@tailwind components;
@tailwind utilities;

.lenis.lenis-smooth {
  scroll-behavior: auto;
}

.lenis.lenis-stopped {
  overflow: hidden;
}
@font-face {
  font-family: 'NetflixSans';
  src: url('./assets/fonts/NetflixSans-Th.ttf') format('truetype');
  font-weight: 100;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'NetflixSans';
  src: url('./assets/fonts/NetflixSans-Lt.ttf') format('truetype');
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'NetflixSans';
  src: url('./assets/fonts/NetflixSans-Rg.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'NetflixSans';
  src: url('./assets/fonts/NetflixSans-Md.ttf') format('truetype');
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'NetflixSans';
  src: url('./assets/fonts/NetflixSans-Bd.ttf') format('truetype');
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'NetflixSans';
  src: url('./assets/fonts/NetflixSans-Blk.ttf') format('truetype');
  font-weight: 900;
  font-style: normal;
  font-display: swap;
}

/* Italics */
@font-face {
  font-family: 'NetflixSans';
  src: url('./assets/fonts/NetflixSans-LtIt.ttf') format('truetype');
  font-weight: 300;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'NetflixSans';
  src: url('./assets/fonts/NetflixSans-It.ttf') format('truetype');
  font-weight: 400;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'NetflixSans';
  src: url('./assets/fonts/NetflixSans-MdIt.ttf') format('truetype');
  font-weight: 500;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'NetflixSans';
  src: url('./assets/fonts/NetflixSans-BdIt.ttf') format('truetype');
  font-weight: 700;
  font-style: italic;
  font-display: swap;
}

/* Apply globally */
body {
  font-family: 'NetflixSans', system-ui, -apple-system, BlinkMacSystemFont, sans-serif;
}
